{% extends "app.html" %}

{% block title %}
    Category
{% endblock title %}
    
{% block content %}
<div id="app">
        <header class="masthead" v-bind:style="{ backgroundImage: 'url(' + url + cat + fr +  ')' }">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            {% verbatim %}
                                
                            <h1>Posts | {{cat}} </h1>
                            <br>
                            <span class="subheading">
                                  <select class="custom-select font-weight-bold border" id="inputGroupSelect01" v-model="cat" style="background-color: rgba(255, 255, 255, 0); color: white">
                                        <option value="All">All</option>
                                        <option value="Gaming">Game</option>
                                        <option value="devel">Development</option>
                                        <option value="art">Art</option>
                                      </select>              
                            </span>
                                </div>
                                
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
           
        </header>

    
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% verbatim %}
                    <div v-if="Categorized.length != 0">
                        
                    <div v-for="post in Categorized" class="post-preview">
                        <a :href='PostUrl + post.slug'>
                            <h2 class="post-title"> {{post.title}}</h2>
                            <h3 class="post-subtitle text-truncate"> {{post.description}} </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!"> {{post.author}} </a>
                            <!-- on September 24, 2021 -->
                        </p>
                    <hr />
                        
                    </div>
                    </div>
                    <div v-else>
                        <div class="alert alert-danger">
                            Nothing!
                        </div>
                    </div>
                    {% endverbatim %}
                    <!-- Pager-->
                    <a href="/">
                        <button class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                                Back To Home
                            </button>
                    </a>
                </div>
            </div>
        </div>
        <hr />
{% endblock content %}

